*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    
}
.container-props{
    box-shadow: -19px 14px 0px 16px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    gap: 10px;
    background-color: aliceblue;
    width: 600px;
    height: 600px;
    border-radius:350px ;
   
}
.props{
    margin-top: 70px;
    display:flex;
    align-items: center;
   flex-basis: 1;
}
.props label{
    font-size:30px;
}
.props input{
    height: 20px;
    padding: 5px;
    border-radius:5px;
    border-color: skyblue;
}
.props input:focus{
    outline: none;
}
.props button{
    padding: 10px;
    font-size: 20px;
    background-color: lightcyan;
    border-radius: 5px;
}
.result-container{
    margin-top: 50px;
    background-color: transparent;
    border: 3px dotted black;
    border-radius: 40px 0px 40px 0px;
    padding: 10px;
    font-size: 30px;
}